@import "tailwindcss";

:root {
  --background: #333333;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-apple-garamond);
  --font-mono: var(--font-iosevka-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-apple-garamond), serif;
}
